*,
*:before,
*:after {
  box-sizing: border-box;
}

$black: #111111;
$lime: #01FF70;
$gray: #AAAAAA;
$dk-gray: #353535;
$silver: #DDDDDD;
$teal: #39CCCC;
$olive: #3D9970;
$purple: #B10DC9;
$blue: #0074D9;
$maroon: #85144b;

html,
body {
  height: 100%;
}

body {
  background: $black;
  color: $dk-gray;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

article {
  display: none;
  &.current-page {
    display: block;
  }
}

.title {
  display: inline-block;
}

nav {
  display: inline-block;
  position: relative;
  top: 5px;

  .nav-sphere{
    background: $dk-gray;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    margin-left: 20px;
    opacity: .6;
    position: relative;
    width: 30px;
    transition: background .5s;
    &:hover {
      background: $silver;
    }
  }
}

nav .nav-focus {
  animation: navCycle 6s infinite;
  opacity: .6;
}

@keyframes navCycle {
  0%,100% {background-color: $olive;} 
  33% {background-color: $maroon;} 
  66% {background-color: $blue;} 
} 

.pulse {
  animation: pulser 3s infinite;
  background: linear-gradient( to right, rgba(53, 53, 53, 0), $dk-gray, rgba(53, 53, 53, 0) );
  position: relative;
}


@keyframes pulser {
  $height: 10;
  $margin: 30;
  0%, 100% {
    height: $height+px;
    margin: $margin+px 0; /*for centering purposes*/
    opacity: .9
  }
  40% {
    margin: centeringMargin($margin,$height)+px 0;
    height: 30px;
    opacity: .1;

  }
}

// top-bottom fading & side-fading

.top-bottom-pulse {
  animation: top-bottom-pulse 4s infinite;
  position: relative;
  background: linear-gradient( rgba(53, 53, 53, 0), $dk-gray, rgba(53, 53, 53, 0) ), 
              linear-gradient( to right, rgba(53, 53, 53, 0), $dk-gray, rgba(53, 53, 53, 0) );
}

@keyframes top-bottom-pulse {
  $height: 30;
  $margin: 60;
  0%, 100% {
    height: $height+px;
    margin: $margin+px 0; /*for centering purposes*/
    opacity: .9;
  }
  60% {
    margin: centeringMargin($margin,$height)+px 0;
    height: 80px;
    opacity: .1;
  }
}

// horizontal slider div

.race-track {
  animation: together-apart 3s infinite;
  background: rgba(53, 53, 53, .2);
  position: relative;
}

.race-car {
  animation: race-car 5s infinite;
  position: absolute;
  background: linear-gradient( to right, rgba(53, 53, 53, 0), $dk-gray, rgba(53, 53, 53, 0));
  width: 30vw;
  height: 100%;
}

@keyframes race-car {
  0%, 100% { left: -30vw; }
  40% { left: 130vw; }
}

@keyframes together-apart {
  $height: 20;
  $margin: 1;
  0%, 100% {
    height: 10px;
    margin: 0px 0; /*for centering purposes*/
    opacity: .9;
  }
  60% {
    margin: 10px 0;
    height: 40px;
    opacity: .1;
  }
}

@function centeringMargin($initialMargin, $initialHeight) {
  @return $initialMargin - (($initialMargin - $initialHeight)/2);
}